/*General*/

* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

html {
  font-family: inherit;
  font-size: 20px;
}

::selection {
  background-color: var(--active);
  color: var(--darkgreen);
}

body {
  margin: 0rem;
  --header-black: black;
  --header-blue: lightskyblue;
  --header-white: white;
  --visited: lightcoral;
  --active: lightgray;
  --darkgreen: darkgreen;
}

h1 {
  font-family: "PT Sans", sans-serif;
  color: var(--header-black);
  font-size: 2rem;
}

h2 {
  font-family: "PT Sans", sans-serif;
  color: var(--header-black);
  font-size: 1.5rem;
}

h3 {
  font-family: "PT Sans", sans-serif;
  color: var(--header-black);
  font-size: 1.25rem;
  position: relative;
  left: 0.2rem;
}

/*Specific*/

.header {
  text-align: center;
  background-color: var(--header-blue);
  background-image: linear-gradient(var(--header-blue), var(--header-white));
  padding: 2.5rem 0.8rem;
  position: relative;
}

.headinggroup {
  font-size: 4rem;
  position: relative;
  right: 0.2rem;
}

.name {
  font-size: 0.5em;
}

.profession {
  font-size: 0.25em;
}

/*Main*/

.main {
  max-width: 40rem;
  margin: 0rem auto;
  padding: 0.8rem;
}

.flexgation {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navlist {
  padding: 0.8rem 0.4rem;
  color: var(--header-black);
  list-style-type: none;
  position: relative;
  transition: background-color 0.3s linear;
}

.navlist:visited {
  color: var(--visited);
}

.navlist:hover {
  background-color: var(--active);
}

.navlist:active {
  color: var(--header-white);
  background-color: var(--active);
}

.navlist:focus {
  background-color: var(--active);
}

.main > article + article {
  border-top: 0.1rem solid var(--header-blue);
}

.main > article {
  border-top: 0.1rem solid var(--header-blue);
}

.main > *:first-child {
  border-top: none;
}

.Beruf::after {
  content: "💼";
}

/*.beruf-überschrift {
  display: inline-block;
}

.beruf-unterüberschrift {
  display: inline-block;
}*/

.experience-header {
  display: flex;
  flex-direction: column;
}

h2 {
  position: relative;
  right: 0.7rem;
}

h3 {
  position: relative;
  right: 0.6rem;
}

.hireme {
  position: fixed;
  right: 2rem;
  top: 3rem;
  color: var(--header-blue);
  background-color: var(--header-black);
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

body:hover .hireme {
  transition: 0.3s linear;
}

header .hireme:hover {
  transform: scale(2);
  transform-origin: right;
}

.header:focus-within,
.hireme {
  transform: scale(1.5);
}

.maincontent {
  max-width: 60ch;
  position: relative;
  left: 0.2rem;
}

.footer {
  text-align: center;
  background-image: linear-gradient(var(--header-white), var(--header-blue));
  padding: 0.5rem 0.8rem;
  position: relative;
}

/*Media*/
@media screen and (min-width: 992px) {
  html {
    font-size: 24px;
  }
}

@media screen and (min-width: 786px) {
  html {
    font-size: 22px;
  }
}

@media screen and (max-width: 992px) {
  .hireme {
    position: fixed;
  }
}

@media print {
  .hireme,
  .flexgation {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .main > * + * {
    margin-top: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .flexgation {
    flex-direction: row;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .experience-header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
}

@media screen and (prefers-color-scheme: dark) {
  body {
    --header-black: black;
    --header-white: white;
  }
}
